
<div class="container w-50 mt-5">
  <h2 class="mb-5">Activities</h2>
  <div class="add-top d-flex justify-content-end">
    <%= link_to new_activity_path do %>
      <i class="ph-plus-bold" id="icon-button"></i>
    <% end %>
  </div>
  <ul>
  <%# if policy(@activities).index? %>
      <% @activities.each do |activity| %>
        <li>
          <div class="list-bundle d-flex justify-content-between">
            <p class="activity-title py-3"><%= activity.title %></p>
            <div class="actions d-flex align-items-center">
              <div class="edit-button">
                <%= link_to edit_activity_path(activity) do %>
                  <i class="ph-pencil-line-fill p-3" id="icon-button"></i>
                <% end %>
              </div>
              <div class="delete-button">
                <%= link_to activity, method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="ph-trash-fill p-3" id="icon-button"></i>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    <%# end %>
  </ul>
  <% if @activities.count < 1 %>
    <p class="">Add some activities</p>
  <% else %>
    <%= link_to "Randomize", activity_path(@activities.sample), class:'btn btn-outline-primary' %>
  <%  end %>
  <%# raise %>
</div>
